/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .contactInfo {
  background-color: #26305d80;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contactInfo .content {
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  height: 10rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-border {
  position: relative;
}

.contactInfo .content p {
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0;
  transition: 0.5s linear;
  max-height: 0;
}
.contactInfo .content i {
  font-size: 3rem;
  background-color: #787e921a;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.contactInfo .content:hover i {
  background: none;
  color: #ccd8f0;
  transform: scale(1.5);
  opacity: 1;
}
.content i:hover {
  box-shadow: none;
}
.contactInfo .content:hover p {
  opacity: 1;
  max-height: 40px;
}
.contactInfo .content:hover {
  background-color: rgba(8, 20, 56, 0);
}
/**************************************************************************----------- End Of Home ----------------***********************************************************/
.contact-test {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(145deg, var(--secondary), var(--primary));
}
.contact .contact-us {
  border: 2px solid rgb(109, 126, 160);
  display: flex;
  height: 80vh;
  box-shadow: 0 0.2rem 0.5rem #0006;
  border-radius: 50px;
  overflow: hidden;
  animation: slideLeft 0.5s ease forwards;
}
.contact-us .contactInfo,
.contact-us .form {
  width: 60%;
  height: 100%;
}

.contact-us .form {
  background-color: var(--secondary);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.contact-us .form::before {
  position: absolute;
  content: "";
  border: 1.4rem solid transparent;
  border-right: 1.4rem solid var(--secondary);
  top: 15%;
  left: -40px;
}
.form h1 {
  margin-bottom: 1rem;

  font: 500 1.8rem sans-serif;
}
.form input,
.form textarea {
  border-radius: 2rem;
  background-color: unset;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--mixed-blue);
  color: #fff;
}
.form input:not(:first-child),
.form textarea,
.form button {
  margin-top: 1rem;
}
.form textarea {
  height: 7rem;
  resize: none;
}
.form button {
  background-color: var(--mixed-blue);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contact .heading {
  display: none;
}
.form .heading {
  display: block;
}
@media screen and (max-width: 1100px) {
  .form .heading {
    display: block;
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .form .heading {
    font-size: 2.5rem;
  }
}

/* Add media query for screen sizes up to 768px */
@media screen and (max-width: 768px) {
  .contact .heading {
    display: block;
  }
  .form .heading {
    display: none;
  }
  /* Contact Section */
  .contact .contact-us {
    flex-direction: column;
    height: auto;
    border-radius: 2rem;
  }

  .contact-us .contactInfo,
  .contact-us .form {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }
  .contact-us .contactInfo {
    padding: 1rem;
    gap: 1rem;
  }
  .contact-us .form::before {
    display: none;
  }

  .form h1 {
    font-size: 1.5rem;
  }

  .form input,
  .form textarea {
    font-size: 1rem;
  }

  .form textarea {
    height: 100px;
  }
  .contactInfo .content {
    width: 5rem;
    height: 8rem;
  }
  .contactInfo .content p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .contactInfo .content i {
    font-size: 2rem;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  footer {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 468px) {
  .form .heading {
    font-size: 1.5rem !important;
  }
}
