/* Projects section */
.projects {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 0;
}
.projects .heading{
  background-color: var(--secondary);
  padding: 5rem;
  width: 100%;
}
.project-column {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.project-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.content .football{
   object-fit: cover;
  margin-top: 30px;



}

.content .ip-image{
     object-fit: cover;
  margin-top: 25px;
}
.project-column .project-border {
  border-top: 2px solid var(--secondary);
  position: relative;
  animation-delay: 1s;
  animation: slideDown 1s ease forwards;
}

.project-content .content {
  border: solid 2px var(--secondary);
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  height: 25rem;
  width: 20rem;
  animation: slideFromBottom 1.5s ease forwards;
}
.project-border .project-content::before {
  content: "";
  position: absolute;
  border: 1rem solid transparent;
  border-top: 1rem solid var(--secondary);
  left: 45%;
  top: 0px;
}

.content .info h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  color: var(--secondary);
  transition: 0.5s;
  border-radius: 15px;
  background: rgba(190, 194, 209, 0.842);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.574);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  
}


.content:hover .info h1 {
  top: 20%;
  opacity: 0;
  visibility: hidden;
}
.content .info::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content img {
  z-index: 3;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content .details {
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
  transition: 0.6s;
}

.details h1 {
  font-size: 1rem;
  color: #f0e1e1;
}
.details .year {
  font-size: 0.8rem;
}

.year i {
  margin-right: 5px;
}
.content:hover .details {
  top: 25%;
  /* From https://css.glass */
background: rgba(35, 48, 91, 0.781);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
  padding: 30px;
}

.content .details p {
  line-height: 1.5;
}
.details p i {
  font-size: 1.2rem;
}
.details p a {
  color: white;
}

@media screen and (max-width: 768px) {
  .content:hover .details p {
    font-size: 1rem;
  }
  .content:hover .details {
    top: 20%;
    background-color: rgba(35, 48, 91, 0.781);
    padding: 30px;
  }
  .project-box {
    gap: 5rem;
  }

  .project-content .content {
    margin-top: 1.5rem;
    height: 25rem;
    width: 20rem;
    animation: slideFromBottom 1.5s ease forwards;
  }
  .project-border .project-content::before {
    display: none;
  }
  .project-border .project-content::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 5px;
    background-color: var(--light-accent);
    left: 50%;
    top: 0;
  }
}

@media screen and (max-width: 400px) {
  .project-column .project-border {
    border: none;
  }
  .project-content .content {
    margin-left: 0;
    height: 25rem;
    width: 15rem;
    animation: slideFromBottom 1.5s ease forwards;
  }
  .content:hover .details {
    top: 0;
    background-color: rgba(35, 48, 91, 0.781);
    padding: 30px;
  }
  .content:hover .details p {
    font-size: 0.9rem;
  }

  .project-border .project-content::after {
    display: none;
  }
  .content .info h1 {
    font-size: 1.2rem;
  }
}
